.header {
    text-align: center;
    background-image: linear-gradient(#F9ED32, #F7941D );
}

.text {
    color: black;
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 20px;
}

li {
    font-size: 20px;
}

.prog {
    width: 12em;
}

#logo {
    position: absolute;
    display: inherit;
    width: 12em;
}

.col-sm-4 {
    text-align: center;
}

.container1 {
    width: 100%;
}

.footer {
    color: white;
    width: 100%;
    padding: 1em;
    background-color: black;
    height: 10em;
}

#themes {
    font-size: 20px;
}