.container-fluid {
    text-align: center;
    background-color: darkgray;
}

.text {
    color: black;
    font-size: 45px;
}

p {
    text-align: center;
    font-size: 20px;
}

li {
    font-size: 20px;
}

.prog {
    width: 12em;
}

#logo {
    margin-left:2em;
    position: absolute;
    display: flex;
    width: 20em;
}

.col-sm-4 {
    text-align: center;
}

.container1 {
    width: 100%;
}

.footer {
    color: white;
    width: 100%;
    padding: 1em;
    background-color: black;
    height: 10em;
}